*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

html,body,#root{

height:100%;

overflow:auto;

}

/* MAIN PAGE */
.main-content{

padding-left:90px;

padding-top:30px;

}

.dashboard-page{

min-height:100vh;

padding:25px;

transition:.5s;

}

/* DARK */

.dashboard-page.dark{

background:

linear-gradient(
135deg,
#3A0CA3,
#4361EE,
#4CC9F0
);

color:white;

}

/* LIGHT */

.dashboard-page.light{

background:

linear-gradient(
135deg,
#FFF7ED,
#F0F9FF,
#ECFDF5
);

color:black;

}

/* CONTAINER */

.dashboard-container{

display:flex;

gap:25px;

}

/* SIDEBAR */

.sidebar{

width:270px;

padding:30px;

border-radius:28px;

min-height:95vh;

backdrop-filter:blur(20px);

transition:.4s;

}

.dark .sidebar{

background:

rgba(
255,
255,
255,
0.12
);

}

.light .sidebar{

background:white;

box-shadow:

0 8px 25px
rgba(
0,
0,
0,
0.08
);

}

.sidebar h2{

font-size:28px;

margin-bottom:35px;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:18px;

margin-bottom:14px;

border-radius:16px;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.3s;

display:flex;

align-items:center;

gap:12px;

}

.sidebar li:hover{

transform:

translateX(8px);

background:

rgba(
255,
255,
255,
0.18
);

}

.dark .sidebar li:hover{

background:

rgba(
255,
255,
255,
0.2
);

}

.light .sidebar li:hover{

background:

#EEF6FF;

}

.sidebar li:hover{

transform:

translateX(8px);

}

/* MAIN */

.main-content{

flex:1;

}

/* TOPBAR */

.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.topbar h1{

font-size:50px;

}

.top-actions{

display:flex;

gap:15px;

}

.theme-btn{

width:70px;

height:70px;

border:none;

border-radius:20px;

font-size:28px;

cursor:pointer;

background:

linear-gradient(
135deg,
#FF6B35,
#FFB703
);

color:white;

transition:.4s;

}

.theme-btn:hover{

transform:

rotate(20deg)
scale(1.08);

}

.profile{

padding:18px 28px;

border-radius:18px;

font-size:20px;

font-weight:600;

}

.dark .profile{

background:

rgba(
255,
255,
255,
0.15
);

}

.light .profile{

background:white;

box-shadow:

0 6px 20px
rgba(
0,
0,
0,
0.08
);

}

/* CARDS */

.card-grid{

display:grid;

grid-template-columns:

repeat(4,1fr);

gap:20px;

margin-bottom:30px;

}

.dash-card{

padding:28px;

border-radius:24px;

transition:.4s;

}


.dark .dash-card{

background:white;

color:#243B53;

box-shadow:

0 10px 25px
rgba(
0,
0,
0,
0.08
);

backdrop-filter:none;

}

.light .dash-card{

background:white;

}

.dash-card:nth-child(1){

border-left:

8px solid
#FF6B35;

}

.dash-card:nth-child(2){

border-left:

8px solid
#06D6A0;

}

.dash-card:nth-child(3){

border-left:

8px solid
#4361EE;

}

.dash-card:nth-child(4){

border-left:

8px solid
#9B5DE5;

}

.dash-card:hover{

transform:

translateY(-8px);

box-shadow:

0 12px 28px
rgba(
0,
0,
0,
0.12
);

}

.dash-card h2{

font-size:42px;

margin-bottom:10px;

}

/* GRAPH */

.graph-grid{

display:grid;

grid-template-columns:

1fr 1fr;

gap:25px;

margin-bottom:30px;

}

.graph-card{

padding:28px;

border-radius:25px;

}

.dark .graph-card{

background:white;

color:#4361EE;

box-shadow:

0 10px 25px
rgba(
0,
0,
0,
0.08
);

}

.light .graph-card{

background:white;

}

/* TABLE */

.inventory-section{

padding:30px;

border-radius:25px;

}

.dark .inventory-section{

background:white;

color:#243B53;

box-shadow:

0 10px 25px
rgba(
0,
0,
0,
0.08
);

}

.light .inventory-section{

background:white;

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

th{

color:#5B5FEF;

font-weight:700;

}

td,th{

padding:18px;

}

/* LIGHT MODE TEXT */

.light h1,
.light h2,
.light h3,
.light p,
.light td,
.light li{

color:black;

}

/* SCROLLBAR */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:

linear-gradient(
#FF6B35,
#4361EE
);

border-radius:20px;

}

/* MOBILE */

@media(max-width:1000px){

.dashboard-container{

flex-direction:column;

}

.sidebar{

width:100%;

min-height:auto;

}

.card-grid{

grid-template-columns:

repeat(2,1fr);

}

.graph-grid{

grid-template-columns:

1fr;

}

}

@media(max-width:650px){

.card-grid{

grid-template-columns:

1fr;

}

}
.dark .dash-card p,
.dark .dash-card h2,

.dark .graph-card h2,

.dark .inventory-section h2,

.dark td,
.dark th{

color:#243B53;

}