*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

overflow:hidden;

}

.login-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
135deg,
#3A0CA3,
#4361EE,
#4CC9F0
);

position:relative;

}

.overlay{

position:absolute;

width:100%;
height:100%;

background:

radial-gradient(
circle at top left,
rgba(255,140,0,.25),
transparent 35%
),

radial-gradient(
circle at bottom right,
rgba(0,162,255,.25),
transparent 35%
);

}

.login-container{

width:1100px;

height:650px;

display:flex;

backdrop-filter:

blur(18px);

background:

rgba(
255,
255,
255,
0.08
);

border:

1px solid
rgba(
255,
255,
255,
0.1
);

border-radius:28px;

overflow:hidden;

box-shadow:

0 25px 50px
rgba(
0,
0,
0,
0.4
);

z-index:2;

}

.left-section{

flex:1;

padding:60px;

display:flex;

flex-direction:column;

justify-content:center;

color:white;

}

.logo-box{

width:90px;

height:90px;

background:

linear-gradient(
135deg,
#ff9800,
#ff5722
);

border-radius:25px;

display:flex;

justify-content:center;

align-items:center;

font-size:42px;

margin-bottom:25px;

}

.left-section h1{

font-size:45px;

margin-bottom:15px;

}

.left-section p{

opacity:.8;

font-size:18px;

margin-bottom:45px;

}

.info-cards{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:18px;

}

.mini-card{

background:

rgba(
255,
255,
255,
0.08
);

padding:25px;

border-radius:20px;

font-size:28px;

display:flex;

flex-direction:column;

gap:10px;

transition:.3s;

}

.mini-card span{

font-size:15px;

}

.mini-card:hover{

transform:

translateY(-5px);

background:

rgba(
255,
255,
255,
0.14
);

}

.right-section{

flex:.9;

background:white;

display:flex;

justify-content:center;

align-items:center;

padding:50px;

}

.login-card{

width:100%;

}

.login-card h2{

font-size:38px;

margin-bottom:10px;

color:#081120;

}

.login-card p{

color:gray;

margin-bottom:30px;

}

.login-card input{

width:100%;

padding:18px;

border:none;

background:#edf2f7;

border-radius:14px;

margin-bottom:18px;

font-size:15px;

outline:none;

}

.password-box{

display:flex;

gap:10px;

}

.password-box button{

width:70px;

border:none;

background:#102542;

color:white;

border-radius:14px;

cursor:pointer;

}

.extra{

display:flex;

justify-content:space-between;

margin:15px 0 25px;

font-size:14px;

}

.extra a{

text-decoration:none;

color:#0f6fff;

}

.login-btn{

width:100%;

padding:18px;

border:none;

border-radius:15px;

background:

linear-gradient(
135deg,
#FF6B35,
#FFB703
);

color:white;

font-size:17px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

transform:scale(1.03);

box-shadow:

0 8px 20px
rgba(
255,
87,
34,
0.35
);

}

@media(max-width:900px){

.login-container{

flex-direction:column;

width:95%;

height:auto;

}

.left-section{

padding:35px;

}

}